.header__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  text-decoration: none;
  color: #a9a9a9;
  margin-left: 24px;
}
